In [1]:
import pandas as pd

In [2]:
taxi_data_path = 'Data/yellow_tripdata_2025-08.parquet'

In [3]:
taxi_df = pd.read_parquet(taxi_data_path)

In [4]:
taxi_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1.0,8.44,1.0,N,138,141,1,33.80,6.0,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2.0,4.98,1.0,N,138,193,1,21.20,6.0,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00
2,7,2025-08-01 00:24:38,2025-08-01 00:24:38,2.0,1.89,1.0,N,249,45,1,14.20,0.0,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
3,7,2025-08-01 00:48:19,2025-08-01 00:48:19,1.0,2.35,1.0,N,79,229,1,11.40,0.0,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75
4,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1.0,2.14,1.0,N,43,48,1,11.40,1.0,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3574086,2,2025-08-31 23:40:30,2025-08-31 23:58:48,NaN,3.12,NaN,None,65,228,0,21.53,0.0,0.5,0.00,0.00,1.0,23.03,NaN,NaN,0.00
3574087,2,2025-08-31 23:10:26,2025-08-31 23:29:01,NaN,5.92,NaN,None,236,148,0,21.78,0.0,0.5,0.00,0.00,1.0,26.53,NaN,NaN,0.75
3574088,2,2025-08-31 23:04:21,2025-08-31 23:25:21,NaN,4.10,NaN,None,148,48,0,-4.75,0.0,0.5,0.00,0.00,1.0,5.83,NaN,NaN,0.75
3574089,2,2025-08-31 23:44:26,2025-08-31 23:44:42,NaN,0.02,NaN,None,107,107,0,12.67,0.0,0.5,0.00,0.00,1.0,17.42,NaN,NaN,0.75
3574090,2,2025-08-31 23:11:01,2025-08-31 23:31:07,NaN,5.07,NaN,None,65,68,0,-4.75,0.0,0.5,0.00,0.00,1.0,10.00,NaN,NaN,0.75

In [5]:
taxi_df.shape

(3574091, 20)